

.home-welcome img {
    max-width:100%;
    width: 100%;
}

.how-it-works {
    text-align: center;
    margin: 3%;
}

.info-items {
    display: flex;
    justify-content: space-evenly;
    margin: 4%;
}

.step1 {
    width: 10%;
}

.step2 {
    width: 10%;
}

.step3 {
    width: 10%;
}

.step4 {
    width: 10%;
}

.how-it-works {
    .title {
        font-family: 'Lobster', cursive;
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
}