nav {
    display: flex;
    justify-content: space-evenly;
    padding-left: 40%;
    padding-right: 10%;
    padding-top: 20%;
    margin-top: 1%;
    padding-top: 0%;
    border-bottom: 1px solid rgb(202, 200, 200);
    border-top: 1px solid rgb(202, 200, 200);
    background-color: #2eab4d;

    a {
        padding: 2%;
        text-decoration: none;
        color: black;
    }

}

