nav {
    .flex(row, flex-end, center);
    padding-left: 40%;
    padding-right: 10%;
    border-bottom: 1px solid rgb(202, 200, 200);
    background-color: @color3;

    @media @mobile {
        width: 47.6%;
        flex-direction: column;
        padding: 0% 26%;
    }



    a {
        padding: 2%;
        text-decoration: none;
        color: @color2;

        @media @mobile {
            border-bottom: 1px solid @color2;
            padding: 5%;
            width: 200%;
            background-color: @color3;

        }
    }

}

